* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}

li {
	list-style: none
}

.container {
	max-width: 1168px;
	margin: 0 auto;
}

.main-nav {
	height: 90px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav ul {
	display: flex;
}

.main-nav li {
	padding-left: 40px
}

.main-nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #2b3a68;
	font-weight: 600;
}

.main-header {
	background: url('../img/bg-header.jpeg') no-repeat center top -88px;
	background-size: cover;
	margin-bottom: 110px;
}

.trapezoid-pos {
	display: flex;
	justify-content: flex-end;
}

.trapezoid {
	transform: translateY(5px);
	/* position: relative; */
	border-top: 55px solid #fff;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0;
	width: 766px;
}

.iteeem{
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-around;
	bottom: 15px;
}

.iteeem li {
	padding-right: 25px;
}

.iteeem li a{
	color: #131f4f;
	text-decoration: none;
}

.job-days {
	padding-left: 20px;
	background: url('../img/time.png') no-repeat left center;
}

.job-email {
	padding-left: 30px;
	background: url('../img/mail.png') no-repeat left center;
}

.job-phone {
	padding-left: 25px;
	background: url('../img/phone.png') no-repeat left center;
}

.hello-block {
	display: flex;
	padding-top: 80px;
	position: relative;
}

.hello-block .description {
	padding-left: 110px;
	color: #fff;
}

.hello-block h1{
	font-weight: 500;
	font-size: 60px;
	line-height: 70px;
}

.hello-block p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}

.hello-block .description-btn {
	margin-top: 50px;
}

.hello-block .description-btn a{
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 10px 35px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: medium;
	margin-right: 30px;
}

.brend {
	display: flex;
	align-items: center;
	border-bottom: 2px solid gray;
	background-color: #fff;
	position: absolute;
	bottom: 0;
}

.brend li {
	padding: 20px 30px;
}

.we-are {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 125px;
}

.who-we {
	margin-right: 30px;
}

.who-we .title h2 {
	color: #082362;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
}

.who-we .title span {
	font-size: 20px;
	font-weight: bold;
	color: #707070;
}

.who-we .title span::after {
	content: '';
	display: inline-block;
	width: 115px;
	height: 3px;
	background: #082362;
	margin-left: 10px;
}

.who-we .title p {
	font-size: 16px;
	line-height: 26px;
	color: #707070;
	font-weight: 300;
	margin-top: 30px;
}

.who-we .title b {
	font-weight: bold;
}

.who-we .table-title {
	font-weight: bold;
	color: #082362;
	font-size: 25px;
}

.who-we table {
	margin-top: 65px;
}

.who-we td {
	padding-right: 95px;
}

.who-we .table-description {
	color: #707070;
	font-weight: medium;
	font-size: 18px;
}

.we-are form {
	background-color: #082362;
	padding: 30px;
}

.we-are form h3 {
	color: #fff;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.we-are form input {
	width: 535px;
	height: 50px;
	margin-top: 20px;
	padding: 10px 30px;
	background-color: #fff;
	border: none;
}

.we-are form textarea {
	margin-top: 20px;
	min-width: 535px;
	min-height: 135px;
	max-width: 535px;
	max-height: 135px;
	padding: 10px 30px;
	margin-bottom: 35px;
}

.we-are form button {
	border: none;
	padding: 20px 70px;
	font-weight: 600;
	color: #082362;
	font-size: 17px;
}

.our-work {
	display: flex;
	justify-content: space-between;
	background: #082362 url('../img/bg-work.jpg') no-repeat left center;
}

.how-do {
	padding-top: 60px;
	margin-left: 446px;
}

.how-do h2{
	font-size: 36px;
	color: #fff;
	font-weight: medium;
}

.work-list {
	margin-top: 70px;
	margin-bottom: 50px;
}

.work-list li {
	padding-left: 70px;
}

.work-list .data-coll-icon {
	background: url(../img/fa-task.png) no-repeat;
}

.work-list .analysis-data-icon {
	background: url(../img/data-coll.png) no-repeat;
}

.work-list .report-icon {
	background: url(../img/fa-up.png) no-repeat;
}

.work-list h3 {
	font-size: 18px;
	font-weight: medium;
	/* padding-left: 70px; */
	color: #fff;
	padding-bottom: 30px;
}

.work-list p {
	font-size: 14px;
	font-weight: 300;
	color: #c4c4c4;
	padding-bottom: 30px;
}

.work-video {
	/* height: 100%; */
	background-color: red;
	margin-left: 50px;
}

.our-service {
	background-color: #f5f5f5;
	display: flex;
	padding: 100px 0;
	flex-direction: column;
}

.service-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service-title h2 {
	font-size: 36px;
	font-weight: bold;
	white-space: nowrap;
	margin-right: 60px;
	color: #082362;
	position: relative;
}

.service-title p {
	font-size: 14px;
	color: #7d7d7d;
	line-height: 20px;
}

.service-title h2::after {
	content: '';
	width: 2px;
	height: 65px;
	display: inline-block;
	bottom: -30%;
	background-color: #082362;
	position: absolute;
	margin-left: 30px;
}

/* .service-title h2::before {
	content: '';
	width: 4px;
	height: 35px;
	display: inline-block;
	background-color: #082362;
	left: 108.5%;
	top: 25%;
	position: absolute;
} */

.service-blocks {
	margin-top: 55px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.service-item {
	display: flex;
	flex-direction: column;
	flex-basis: 375px;
	color: #757575;
	background-color: #fff;
	border: 1px solid #e0e4ef;
	margin-top: 25px;
	padding: 25px 40px;
}

.service-item h3{
	background: url('../img/Shape\ 1.png') no-repeat left center;
	padding-left: 50px;
	font-size: 18px;
	font-weight: 500;
	color: #111c39;
	margin-bottom: 20px;
}

.ser-2 h3{
	background: url('../img/L0001.png') no-repeat left center;
}

.ser-3 h3{
	background: url('../img/Forma\ 1.png') no-repeat left center;
}

.ser-4 h3{
	background: url('../img/L0001-1.png') no-repeat left center;
}

.ser-5 h3{
	background: url('../img/Forma\ 1-1.png') no-repeat left center;
}

.ser-6 h3{
	background: url('../img/Forma\ 1-2.png') no-repeat left center;
}


.company-info{
	background: #082362 url('../img/') no-repeat center center;
	padding: 50px 0;
}

.company-info h2{
	font-size: 0;
}

.company-table{
	display: flex;
}

.company-table td {
	padding-right: 25px;
	padding-top: 15px;
}

.company-table td:last-child{
	padding-right: 0;
}

.company-table__title {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
}

.company-table__description {
	font-size: 18px;
	font-weight: 400;
	color:#b4b4b4;
}

.company-table__sub {
	font-size: 14px;
	font-weight: 300;
	color: #fff;
}

tr > .company-table__sub {
	padding-top: 25px;
} 

.our-team {
	display: flex;
	padding: 100px 0 70px 0;
	align-items: center;
	justify-content: space-between;
}

.team h2 {
	font-size: 36px;
	font-weight: bold;
	color: #082362;
}

.team p {
	padding-top: 15px;
	color: #7d7d7d;
	font-size: 14px;
	padding-bottom: 25px;
	line-height: 20px;
}

.blue-btn {
	color: #fff;
	background-color: #082362;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 500;
}

.team-blocks {
	display: flex;
}

.team-block{
	height: 300px;
	width: 200px;
	margin-left: 25px;
}

.team-block{
	background: #fff url('../img/teammate-2.jpg') no-repeat center top;
}

.team-block:first-child{
	background: #fff url('../img/teammate-1.jpg') no-repeat center top;
}

.team-block:last-child{
	background: #fff url('../img/teammate-3.jpg') no-repeat center top;
}

.team-item {
	text-align: center;
	margin-top: 100%;
}

.team-item h3{
	background-color: #082362;
	font-weight: normal;
	opacity: 0.9;
	border-bottom: 1px solid #2c3f6d;
	padding: 5px 0;
	color: #fff;
}

.team-item p{
	padding: 5px 0;
	background-color: #082362;
	opacity: 0.9;
	color: #d0cece;
}

.news {
	background: #f5f5f5 url('../img/bg-news.jpg') no-repeat;
	background-size: 100% 550px;
	display: flex;
	padding: 100px 0;
	flex-direction: column;
	position: relative;
	height: 815px;
}

.news-title {
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.news-title h2 {
	font-size: 36px;
	font-weight: bold;
	white-space: nowrap;
	margin-right: 60px;
	color: #fff;
	position: relative;
}

.news-title p {
	font-size: 14px;
	color: #cac9c9;
	line-height: 20px;
}

.news-title h2::after {
	content: '';
	width: 2px;
	height: 65px;
	display: inline-block;
	background-color: #f5f5f5;
	bottom: -30%;
	position: absolute;
	margin-left: 30px;
}

.news-blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
}

.news-block {
	max-width: 370px;
	background-color: #fff;
	
}

.news-description {
	margin: 35px 30px;
}

.news-description a{
	font-size: 22px;
	font-weight: 400;
	text-decoration: none;
	color: #1d253b;
}

.news-description p {
	font-size: 16px;
	color: #6b6b6b;
	margin-top: 30px;
}

.news-btn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.news-btn a{
	max-width: 130px;
	max-height: 50px;
}

.happy-moments {
	padding: 75px 0;
	display: flex;
	flex-direction: column;
}

.moments-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.moments-title h2{
	white-space: nowrap;
	font-size: 36px;
	color: #082362;
	margin-right: 60px;
}

.moments-title h2::after {
	content: '';
	width: 2px;
	height: 65px;
	display: inline-block;
	background-color: #082362;
	position: absolute;
	margin-left: 30px;
	bottom: -30%;
}

.moments-title p{
	font-size: 14px;
	color: #757575;
}

.moments-title a{
	margin-left: 100px;
}

.moments-sorted {
	margin-top: 100px;
	display: flex;
	justify-content: flex-end;
}

.moments-sorted li {
	list-style: none;
	padding-left: 15px;
}

.moments-sorted a{
	text-decoration: none;
	color: #bbb;
	font-size: 16px;
}

footer {
	padding-top: 80px;
	background-color: #082360;
}

footer h3 {
	color: #fefefe;
	font-size: 22px;
	font-weight: 400;
	padding-bottom: 35px;
}

footer a, footer p{
	color: #d9d9d9;
	font-size: 14px;
}

.footer-list {
	display: flex;
	
}

.footer-peridona{
	padding-right: 75px;
}

.footer-resources {
	padding-right: 75px;
}

.links {
	padding-right: 75px;
}

.footer-peridona p{
	padding-bottom: 60px;
	max-width: 355px;
	line-height: 27px;
}

.footer-list li{
	padding-bottom: 20px;
}

footer a{
	text-decoration: none;
}

.footer-subscribe {
	padding-left: 75px;
}

.footer-subscribe p {
	margin-bottom: 30px;
}

.footer-subscribe form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-subscribe input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #959595;
	padding: 5px 10px;
	margin-bottom: 30px;
}

.footer-subscribe input::placeholder {
	color: #959595;
}

.footer-subscribe button {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	border: none;
}

footer .socials{
	display: flex;
}

footer .socials li{
	padding-right: 25px;
}

.copyright {
	width: 100%;
	padding: 25px 0;
	background-color: #001443;
	text-align: center;
}

.copyright span{
	color: #6d727e;
	font-weight: 300;
}

.company-on-map {
	font-size: 0;
}

a:hover{
	color: #1c52cf;
}

.service-item:hover{
	transform: scale(1.05);
}